.gt-carousel {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
  font-family: "Lato", sans-serif;

  &__cards {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    height: 100%;
    margin: 0;
  }
  &__card {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    background-color: black;
    height: 100%;
    min-width: 100%;
    overflow: hidden;
    transform: translateX(0%);
    transition: all 0.75s ease-in-out;
    &-img {
      position: absolute;
      height: auto;
      width: 100%;
      filter: brightness(0.9);
    }
    &-text {
      position: relative;
      text-align: center;
      color: white;
      top: 0;
      left: 0;
      h1 {
        font-size: 6rem;
        margin: 0;
      }
      h3 {
        font-size: 2rem;
      }
      h1,
      h3 {
        margin: 0;
        text-shadow: 0 0 5px black;
      }
    }
  }
  &__navigators {
    display: block;
    position: absolute;
    justify-content: space-between;
    height: auto;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    &-nav {
      display: block;
      position: relative;
      color: white;
      text-align: center;
      width: 100%;
      height: 100%;
      .wrapper {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &.prev-wrapper {
          left: 0;
          .prev {
            transform: translateX(-50%);
          }
        }
        &.next-wrapper {
          right: 0;
          .next {
            transform: translateX(50%);
          }
        }
        &.prev-wrapper .prev,
        &.next-wrapper .next {
          display: block;
          position: relative;
          cursor: pointer;
          opacity: 0.5;
          transition-property: transform, opacity;
          transition-duration: 0.25s;
          transition-timing-function: ease-in-out;
          &:hover {
            transform: translateX(0%);
            opacity: 0.75;
          }
        }
      }
      .current {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h1 {
          font-size: 6rem;
          margin: 0;
        }
        h3 {
          font-size: 2rem;
        }
        h1,
        h3 {
          margin: 0;
          text-shadow: 0 0 5px black;
        }
      }
      .header,
      .subHeader {
        color: white !important;
      }
    }
  }
  &__loader {
    display: flex;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    height: 0.35em;
    width: 10em;
    background-color: white;
    filter: drop-shadow(0px 0px 0.1em black);
    border-radius: 10em;
    opacity: 1;
    overflow: hidden;
    &-bar {
      display: inline-block;
      position: relative;
      height: 100%;
      width: 100%;
      background-color: rgb(255, 80, 0);
      transform: translateX(0%);
      &--loading {
        animation: delayLoader 5s ease-in-out infinite;
      }
    }
  }
}

@keyframes delayLoader {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
